description = "Video hướng dẫn"

[viewBag]
==
{% set currentCategorySlug1 = CategoryThreeLevel.currentCategorySlug1 %}
<!-- Trigger the Modal -->

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The iframe video) -->
        <div class="modal-contain" id="modalContain">

        </div>
        <!-- Modal Caption (The video title) -->
        <a id="caption"></a>
    </div>
<div class="video">
    <div class="row" style="width: 100%" >
        {% for post in posts %}
        {% set postUrl = 'post'|page({category1: 'tai-lieu-huong-dan'|_, category2: currentCategorySlug1 , slug: post.slug})%}
        {% if post.iframe %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" style="padding: 0px" >

                <!--video content-->
                    <div class="image-video">
                        <div class="video-link">
                            <img src= "storage/app/media{{ post.image }}" width="100%" height="140px" class="img-responsive" alt="Image">
                            <span class="video-play"><i class="fa fa-play"></i></span>
                            <div class="video-iframe" style="display: none">{{ post.iframe|raw }}</div>
                            <a style="display: none" class="video-url" href="{{ postUrl }}">{{ post.title }}</a>
                        </div>
                    </div>

                <!--Title-->
                <div class="video-title"><a href="{{ postUrl }}">{{ post.title }}</a></div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
