description = "4 Column Footer"

[viewBag]
==
<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Footer links-->
    <div class="footer container">
        <div class="row">
            <div class="col-md-11 mg-auto">
                <div class="row">
                    <!--First column-->
                    <div class="col-md-3">
                        <h5 class="title mb-3"><strong>{{ 'crmsolution'|_ }}</strong></h5>
                        <ul id="footer_links">
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'crmforeducation'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'crmforbank'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'crmforheadhunter'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'crmfortravel'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'crmforlogistics'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'crmforretail'|_ }}</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.First column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Second column-->
                    <div class="col-md-4">
                        <h5 class="title mb-3"><strong>{{ 'crmsolution'|_ }}</strong></h5>
                        <ul id="footer_links">
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'integratewithippbx'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'integratewithbrandsms'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'integratewithwebsite'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'integratewithaccountingsoftware'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'integratewitherpsoftware'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'integratewithzalo'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'integratewithfacebook'|_ }}</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Second column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Third column-->
                    <div class="col-md-2">
                        <h5 class="title mb-3"><strong>{{ 'support'|_ }}</strong></h5>
                        <ul id="footer_links">
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'faqs'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'forum'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'introduce'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'news'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'recruitment'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'contact'|_ }}</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">{{ 'policy'|_ }}</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Third column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Fourth column-->
                    <div class="col-md-3 ">
                        <h5 class="title mb-3"><strong>{{ 'contact'|_ }}</strong></h5>
                        <ul>
                            <li>
                                <a href="#!">{{ 'sales'|_ }}: support@onlinecrm.vn</a>
                            </li>
                            <li>
                                <a href="#!">{{ 'technical'|_ }}: support@onlinecrm.vn</a>
                            </li>
                            <li>
                                <a href="#!">Hotline 24/7: 1900 29 29 90&nbsp<i>(ext 2)</i> </a>
                            </li>
                            <li>
                                {{ 'montofri'|_ }}
                            </li>
                            <li>
                                + {{ 'morning'|_ }}: 8h30-12h00
                            </li>
                            <li>
                                + {{ 'afternoon'|_ }}: 14h00-17h45
                            </li>
                        </ul>
                    </div>
                    <!--/.Fourth column-->
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h5 class="title mb-3"><strong>{{ 'crmknowleadge'|_ }}</strong></h5>
                        <ul id="footer_links">
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">Quy trình CRM tiêu chuẩn</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">Làm thế nào để lựa chọn đúng 1 phần mềm CRM</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">10 dịch vụ phần mềm CRM tốt nhất hiện nay</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">10 lợi ích thiết thực nhất của phần mềm CRM mang tới DN</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">Làm thế nào để lựa chọn đúng 1 phần mềm CRM</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">10 dịch vụ phần mềm CRM tốt nhất hiện nay</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right"></i>
                                <a href="#!">10 lợi ích thiết thực nhất của phần mềm CRM mang tới DN</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="w-100 clearfix d-sm-none">
                    <div class="col-md-7">
                        <h5 class="title mb-3"><strong>{{ 'news'|_ }}</strong></h5>
                        <ul id="footer_news">
                            <li>
                                <i class="fa fa-newspaper-o"></i>&nbsp&nbsp<a href="#!"> Hoàn thành triển khai giai đoạn 1 phần mềm CRM cho GREENCAP </a><p>(08/06/2019)</p>
                            </li>
                            <li>
                                <i class="fa fa-newspaper-o"></i>&nbsp&nbsp<a href="#!"> Hoàn thành triển khai giai đoạn 1 phần mềm CRM cho GREENCAP </a><p>(08/06/2019)</p>
                            </li>
                            <li>
                                <i class="fa fa-newspaper-o"></i>&nbsp&nbsp <a href="#!"> Hoàn thành triển khai giai đoạn 1 phần mềm CRM cho GREENCAP </a><p>(08/06/2019)</p>
                            </li>
                            <li>
                                <i class="fa fa-newspaper-o"></i>&nbsp&nbsp <a href="#!"> Hoàn thành triển khai giai đoạn 1 phần mềm CRM cho GREENCAP</a><p>(08/06/2019)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.Footer links-->

    <hr>

    <!--Copyright-->
    <div class="footer-copyright container">
        <div class="row pd-0-50">
            <div class="col-md-6">
                <p style="color: #505154">Copyright © from 2010 OnlineCRM.VN. All rights reserved</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <img src="themes/zanor-zanor-mdb-loaded/assets/images/footer_image/bocongthuong.png" alt="">
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href="https://apps.apple.com/vn/app/cloudpro-crm/id1450222444" target="_blank" style="padding-top: 0px"><img src="themes/zanor-zanor-mdb-loaded/assets/images/footer_image/app-apple.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href=" https://play.google.com/store/apps/details?id=vn.cloudpro.salesapp&hl=vi" target="_blank" style="padding-top: 0px"><img src="themes/zanor-zanor-mdb-loaded/assets/images/footer_image/app-google.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-xs-3" style="padding: 0px;padding-top: 5px;">
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/onlinecrm/" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCMOTxoXTxqyyqOxJS7Sjj7A" target="_blank"><i class="fa fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="https://onlinecrm.vn/lien-he"><i class="fa fa-safari"></i></a>
                                </li>
                            </ul>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
