description = "Footer"

[viewBag]
==
{% partial 'footer/4-column' %}


<script src="themes/zanor-zanor-mdb-loaded/assets/js/jquery-3.2.1.min.js"></script>
<script src="themes/zanor-zanor-mdb-loaded/assets/js/dropdownMenu.js"></script>
<!-- <script src="themes/zanor-zanor-mdb-loaded/assets/js/jquery.lazy.min.js"></script> -->
<script src="themes/zanor-zanor-mdb-loaded/assets/js/popper.js"></script>
<script src="themes/zanor-zanor-mdb-loaded/assets/js/bootstrap.min.js"></script>
<script src="themes/zanor-zanor-mdb-loaded/assets/js/mdb.min.js"></script>
<script src="themes/zanor-zanor-mdb-loaded/assets/js/scrollTop.js"></script>
<script src="themes/zanor-zanor-mdb-loaded/assets/js/dropdownSidebar.js"></script>

    {% framework extras %}
    {% scripts %}

<script>
    new WOW().init();
</script>

</body>
</html>