main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.list-group-item.active {
    background-color: #a3b0c2;
    border-color: #a3b0c2
}

.list-group-item:not(.active) {
    color: #222;
}

.list-group-item:not(.active):hover {
    color: #666;
}

.card {
    font-weight: 300;
}

.row .faqs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 60px;
    margin-left: 60px;
}


.block-title {
    border-bottom: 1px solid #d6d6d6;
    margin: 0 0 3px;
    padding-bottom: 10px;
}

.block-title img {
    float: left;
    margin-right: 5px;
}

.faqs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 30px;
}

.faqs .fa {
    position: absolute;
    right: 0;
    top: 13px;
    font-size: 20px;
}

.continues-faqs {
    float: right;
}

.continues-video {
    float: right;
}

.continues-guide {
    float: right;
}

  .guide {
    background: #f2f3f6;
    padding-top: 30px;
    padding-bottom: 60px;
}
.guide-item {
    background: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.guide-video {
    padding-top: 30px;
}

.guide-item {
    height: 585px;
    border-radius: 8px;
    background: -moz-linear-gradient(top, #fff 0%, #fff 85%, #fff 85%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #fff 85%, #fff 85%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, #fff 0%, #fff 85%, #fff 85%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    padding: 16px 15px 85px;
    margin-bottom: 15px;
    text-align: center;
}
.guide-item ul {
    padding: 0px;
    margin: 0px;
}
.guide-item ul li {
    padding: 10px 0;
    border-bottom: 1px dashed #e3e3e3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.guide-item ul li a{
    color: #42464e;
}

.guide-item-title {
    height: 105px;
    border-bottom: #1792fc solid 1px;
}

.number-circle {
    background: #0088ff;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    display: block;
}

.dropdown a.dropdown-toggle {
    line-height: 26px;
    padding-left: 32px;
    font-size: 16px;
    color: #42464e;
    display: block;
    font-weight: 500;
    padding-right: 15px;
}

.post-faqs-title {
    font-size: 16px;
    padding: 13px 0;
    border-bottom: 1px dashed #e3e3e3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-title a {
    color: #42464e;
}

.block-title a:hover{
    color: #0088ff;
    text-decoration: none;
}

