@font-face{
    font-family: 'Roboto';
    src: url('/Content/font-roboto/fonts/Roboto-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('/Content/font-roboto/fonts/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('/Content/font-roboto/fonts/Roboto-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('/Content/font-roboto/fonts/Roboto-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}